<h3 {{ attributes.defaults({class: 'text-lg font-semibold text-content-primary-light/70 dark:text-content-primary-dark/70 mt-12 mb-4 font-headland '}) }}>
     {% block content %}{% endblock %}
</h3>
