{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-16 p-16 m-auto w-full md:max-w-screen-md bg-surface-light dark:bg-surface-dark border border-base-light/70 dark:border-surface-dark/10">
        <h1 class="mb-8 text-2xl font-extrabold leading-none tracking-tight text-content-primary-light md:text-5xl lg:text-6xl dark:text-content-primary-dark/70">{% trans %}title.login{% endtrans %}</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post" class="flex flex-col  my-8 space-y-8">

            {#            <div class="w-full flex justify-between"> #}
            <label for="email" class="text-content-primary-light dark:text-content-primary-dark/80">{% trans %}form.email{% endtrans %}:</label>
            <input type="text" id="email" name="_username" class="p-1.5 text-content-primary-dark dark:text-content-primary-light/80" value="{{ email }}">
            {#            </div> #}

            <label for="password" class="text-content-primary-light dark:text-content-primary-dark/80">{% trans %}form.password{% endtrans %}:</label>
            <input type="password" id="password" name="_password" class="p-1.5 text-content-primary-dark dark:text-content-primary-light/80" >

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

            <button type="submit" class="bg-base-light/90 dark:bg-base-dark/90 text-content-primary-light dark:text-content-primary-dark/80 rounded-xl border border-base-dark dark:border-base-light/70  p-4 my-4 w-full md:w-fit">
                {% trans %}button.login{% endtrans %}
            </button>
        </form>

{#        <a href="{{ path('app_register') }}" class="hover:underline">
            {% trans %}button.register{% endtrans %}
        </a>#}
    </div>
{% endblock %}