{% extends 'base.html.twig' %}

{% block title %}Edit FacebookEvent{% endblock %}

{% block body %}
    <h1>Edit FacebookEvent</h1>

    {{ include('admin/facebook_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_facebook_event_index') }}">back to list</a>

    {{ include('admin/facebook_event/_delete_form.html.twig') }}
{% endblock %}
