@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora/Sora-Regular.ttf') format('opentype'),
    url('../fonts/Sora/Sora-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora/Sora-Bold.ttf') format('opentype'),
    url('../fonts/Sora/Sora-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora/Sora-ExtraBold.ttf') format('opentype'),
    url('../fonts/Sora/Sora-ExtraBold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('opentype'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('opentype'),
    url('../fonts/Poppins/Poppins-Black.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Headland';
    src: url('../fonts/Headland_One/HeadlandOne-Regular.ttf') format('opentype'),
    url('../fonts/Headland_One/HeadlandOne-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf') format('opentype'),
    url('../fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: 'Poppins';*/
/*    src: url('../fonts/Poppins/Poppins-Black.ttf') format('opentype'),*/
/*    url('../fonts/Poppins/Poppins-Black.ttf') format('opentype');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-sora;
    }

    h1, h2{
        @apply tracking-tighter;
    }

    h2, h3{
        @apply tracking-tight;
    }

    p {
        @apply leading-relaxed mb-0;
    }

    p:not(:first-child) {
        @apply mt-5;
    }
}

.bento-card {
    @apply bg-surface-light dark:bg-surface-dark border-surface-light/50 dark:border-surface-dark/50 text-content-primary-light dark:text-content-primary-dark;
}
