@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora/Sora-Regular.ttf') format('opentype'),
    url('../fonts/Sora/Sora-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora/Sora-Bold.ttf') format('opentype'),
    url('../fonts/Sora/Sora-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora/Sora-ExtraBold.ttf') format('opentype'),
    url('../fonts/Sora/Sora-ExtraBold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('opentype'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('opentype'),
    url('../fonts/Poppins/Poppins-Black.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Headland';
    src: url('../fonts/Headland_One/HeadlandOne-Regular.ttf') format('opentype'),
    url('../fonts/Headland_One/HeadlandOne-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf') format('opentype'),
    url('../fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: 'Poppins';*/
/*    src: url('../fonts/Poppins/Poppins-Black.ttf') format('opentype'),*/
/*    url('../fonts/Poppins/Poppins-Black.ttf') format('opentype');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-sora;
        word-spacing: 0.15em;
    }

    h1, h2{
        @apply tracking-tighter;
    }

    /*h3, h4{*/
    /*    @apply tracking-tight;*/
    /*}*/

    h1 { @apply text-2xl md:text-3xl font-black  mt-12 mb-6; }
    h2 { @apply text-xl  md:text-2xl font-bold    mt-10 mb-4; }
    h3 { @apply text-lg  md:text-xl  font-semibold mt-8 mb-3; }
    h4 { @apply text-base md:text-lg font-medium   mt-6 mb-2; }
    h5 { @apply text-sm  md:text-base font-medium  mt-4 mb-2; }
    h6 { @apply text-xs  md:text-sm   font-normal  mt-3 mb-1; }

    p {
        @apply leading-relaxed mb-0;
    }

    p:not(:first-child) {
        @apply mt-5;
    }
    ul:not(header ul, nav ul, footer ul)  {
    @apply ml-8 my-8 space-y-6;
    }
    ul:not(header ul, nav ul, footer ul) li {
        @apply list-disc ml-4;
    }

    ul:not(header ul, nav ul, footer ul) li::marker {
        color: theme('colors.secondary');
        font-weight: bold;
    }
    /*ul:not(header ul, nav ul, footer ul) li {*/
    /*    @apply flex  gap-4 before:content-['•'] before:text-secondary before:font-bold before:shrink-0;*/
    /*}*/
}

.bento-card {
    @apply bg-surface-light dark:bg-surface-dark border-surface-light/50 dark:border-surface-dark/50 text-content-primary-light dark:text-content-primary-dark;
}
