<!DOCTYPE html>
<html lang="fr_BE" class="scroll-smooth">
<head>
    <!-- Meta classiques -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Les Gais Carabiniers - Club de Tir à Bernissart">
    <meta name="keywords" content="{% block seo_content %}club de tir, Bernissart, tir à la carabine, tir récréatif, Gais Carabiniers, événements de tir, concours de tir, tir 12m, tir 10m, carabine .22 Zimmer, critérium Daniel Manfroid, activité sportive, inscriptions tir, compétition de tir, passion tir, sécurité tir{% endblock %}">
    <meta name="description" content="Rejoignez Les Gais Carabiniers, club de tir à Bernissart. Ambiance conviviale, disciplines au tir à la carabine (10m et 12m), affilié à l'URSTB-F. Découvrez notre passion du tir en toute sécurité !">
    <meta name="keywords" content="tir sportif, Bernissart, Les Gais Carabiniers, carabine, club de tir, URSTB-F, tir 10m, tir 12m, ambiance conviviale, passion tir, sécurité">
    <meta name="author" content="Les Gais Carabiniers">
    <meta name="robots" content="index, follow">
    <meta name="view-transition">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Les Gais Carabiniers - Club de Tir à Bernissart">
    <meta property="og:description" content="Rejoignez Les Gais Carabiniers, club de tir à Bernissart. Ambiance conviviale, disciplines au tir à la carabine (10m et 12m), affilié à l'URSTB-F. Découvrez notre passion du tir en toute sécurité !">
    <meta property="og:url" content="https://www.votre-site-club-tir-bernissart.com">
    <meta property="og:site_name" content="Les Gais Carabiniers">
    <meta property="og:image" content="https://www.votre-site-club-tir-bernissart.com/images/og-image-club-tir.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Les Gais Carabiniers - Club de Tir à Bernissart">
    <meta name="twitter:description" content="Rejoignez Les Gais Carabiniers, club de tir à Bernissart. Ambiance conviviale, disciplines au tir à la carabine (10m et 12m), affilié à l'URSTB-F. Découvrez notre passion du tir en toute sécurité !">
    <meta name="twitter:image" content="https://www.votre-site-club-tir-bernissart.com/images/og-image-club-tir.jpg">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico?v=1.0" type="image/x-icon">

    <title>Les Gais Carabiniers - Club de Tir à Bernissart</title>





    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Les Gai Carabiniers de Bernissart{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body class="w-full overflow-x-hidden min-h-screen font-poppins h-auto  bg-base-light dark:bg-base-dark p-0">
{% include '_header/_header.html.twig' %}
<div class="w-full md:max-w-screen-xl mx-auto">
    <div class="w-full py-4">
        {% block nav_secondary %} {% endblock %}
    </div>
    <div class="w-full py-4 lg:py-16 text-content-primary-light dark:text-content-primary-dark/70  ">
        {% block body %}{% endblock %}
    </div>
</div>
{% include '_footer/_footer.html.twig' %}
</body>
</html>
