{% extends 'base.html.twig' %}

{% block title %}{% trans %}club.about {% endtrans %}{% endblock %}

{% block body %}

    <section class="px-4 sm:px-16 lg:px-48 space-y-16">
        <h2 class="text-4xl font-headland font-extrabold text-content-secondary/70 dark:text-content-secondary-dark/70 ">L'histoire des Gais Carabiniers de Bernissart</h2>

        <p class="text-lg font-normal text-content-primary-light/50 lg:text-xl dark:text-content-primary-dark/40 !leading-loose">
            Au lendemain de la guerre, l’envie de reconstruire et de retrouver joie et optimisme était au cœur de
            toutes les initiatives. Avec la conviction qu’il n’y aurait plus de conflits, c’est dans cet esprit de
            renouveau qu’a été créé <span class="bg-content-secondary/80 text-white/80 px-1.5">Les Gais Carabiniers</span>, un club de tir empreint de convivialité et de
            passion.
        </p>

        <p class="text-lg font-normal text-content-primary-light/50 lg:text-xl dark:text-content-primary-dark/40 !leading-loose">
            Le tir à la carabine, discipline olympique par excellence, y est pratiqué avec sérieux et enthousiasme.
            Il ne s’agit pas seulement d’un sport, mais d’un véritable exercice de concentration, de dépassement de
            soi et de recherche de performance. Chaque semaine, les membres organisent un petit concours amical,
            suivi d’un classement mensuel, dans une ambiance compétitive,  bienveillante.
        </p>

        <p class="text-lg font-normal text-content-primary-light/50 lg:text-xl dark:text-content-primary-dark/40 !leading-loose">

            Hors des lignes de tir, c’est un tout autre spectacle : rires, camaraderie et échanges chaleureux
            rythment la vie du club. Que vous soyez novice ou expert, vous y trouverez un espace où passion et bonne
            humeur se mêlent pour offrir une expérience unique et enrichissante.
        </p>
    </section>

{% endblock %}

