{% extends 'base.html.twig' %}

{#{% block title %}{% trans %}club.about {% endtrans %}{% endblock %}#}
{% block title %}Histoire des Gais Carabiniers - Club de Tir à Bernissart depuis 1947{% endblock %}
{% block seo_content %}club tir Bernissart, Gais Carabiniers, tir sportif, Critérium Daniel Manfroid, URSTB-F, histoire club tir{% endblock %}
{% block seo_description %}Découvrez l'histoire des Gais Carabiniers, club de tir emblématique de Bernissart depuis 1947. Infrastructures modernes, événements comme le Critérium Daniel Manfroid et ambiance conviviale vous attendent.{% endblock %}

<!-- Open Graph / Facebook -->
{% block og_title %}Histoire des Gais Carabiniers - Club de Tir à Bernissart depuis 1947{% endblock %}
{% block og_description %}Découvrez l'histoire des Gais Carabiniers, club de tir emblématique de Bernissart depuis 1947. Rejoignez une communauté passionnée dans un cadre moderne et sécurisé.{% endblock %}
{% block og_image %}https://gc-bernissart.be/images/carousel/gais-carabiniers-slider_01.jpg{% endblock %}
{% block og_url %}https://gc-bernissart.be/notre-histoire{% endblock %}


<!-- Twitter -->
{% block twitter_title %}Histoire des Gais Carabiniers - Club de Tir à Bernissart depuis 1947{% endblock %}
{% block twitter_description %}Découvrez l'histoire des Gais Carabiniers, club de tir emblématique de Bernissart depuis 1947. Rejoignez une communauté passionnée dans un cadre moderne et sécurisé.{% endblock %}
{% block twitter_image %}https://gc-bernissart.be/images/carousel/gais-carabiniers-slider_01.jpg{% endblock %}


{% block body %}

    <!-- Introduction -->
    <div class="bg-surface-light/90 dark:bg-surface-dark/40 dark:text-content-dark/70 py-8 px-4 sm:px-16 lg:py-16 lg:px-48 space-y-16">
        <section id="introduction" class="py-8">
            <twig:Title:H1 class="text-center">Club de Tir et Commune de Bernissart &ndash; Un Patrimoine et une Passion Partagés</twig:Title:H1>
            <p class="leading-loose">Les Gais Carabiniers de Bernissart ne sont pas seulement un club de tir à la carabine, mais une véritable institution au cœur d'une commune riche en histoire et en traditions. Découvrez à la fois l'histoire de notre club et les merveilles de Bernissart.</p>
        </section>

        <!-- Section : L’Histoire du Club -->
        <section id="club-history" class="py-8">
            <twig:Title:H2>L’Histoire des Gais Carabiniers de Bernissart</twig:Title:H2>
            <article>
                <twig:Title:H3>Origines et Création du Club</twig:Title:H3>
                <p class="leading-loose">Au lendemain de la guerre, l’envie de reconstruire et de retrouver joie et optimisme était au cœur de toutes les initiatives. Avec la conviction qu’il n’y aurait plus de conflits, c’est dans cet esprit de renouveau qu’a été créé Les Gais Carabiniers, un club de tir empreint de convivialité et de passion. <br />Fondé en 1947, le club était une initiative locale visant à rassembler la communauté autour d’une activité à la fois récréative et porteuse de valeurs. Le tir à la carabine est alors apparu comme un sport idéal pour promouvoir la discipline, l’entraide et la compétition amicale.</p>
                <p class="leading-loose">Depuis ses débuts modestes, il s’est imposé comme une référence locale pour les amateurs de tir sportif.</p>
            </article>

            <article>
                <twig:Title:H3>Évolution du Club</twig:Title:H3>
                <p class="leading-loose">Au fil des années, le club a évolué pour offrir des infrastructures modernes, notamment des lignes de tir à 10m et 12m, et pour accueillir des événements réguliers comme le célèbre Critérium Daniel Manfroid. Ces compétitions rassemblent des tireurs passionnés de toute la région.</p>
            </article>

            <article>
                <twig:Title:H3>Aujourd’hui</twig:Title:H3>
                <p class="leading-loose">Les Gais Carabiniers de Bernissart continuent de transmettre leur passion pour le tir dans un cadre chaleureux et sécurisé. Le club est fièrement affilié à l'URSTB-F (n° 7-044) et invite toutes les personnes intéressées à rejoindre cette aventure.</p>
            </article>
        </section>

        <!-- Section : Découvrir Bernissart -->
        <section id="discover-bernissart" class="py-8">
            <twig:Title:H2>Découvrir Bernissart, une Commune Unique</twig:Title:H2>
            <article>
                <twig:Title:H3>Présentation Générale</twig:Title:H3>
                <p class="leading-loose">Située en Région wallonne, dans la province de Hainaut, Bernissart est une commune frontalière connue pour sa tranquillité et son cadre verdoyant. Elle se situe stratégiquement entre Mons et Tournai, offrant un mélange parfait entre vie rurale et proximité des grandes villes.</p>
            </article>

            <article>
                <twig:Title:H3>Patrimoine et Histoire</twig:Title:H3>
                <p class="leading-loose">Bernissart est mondialement célèbre pour la découverte des iguanodons en 1878, des fossiles préhistoriques uniques mis au jour dans une ancienne mine de charbon. La commune honore également son passé minier, qui a longtemps été au cœur de son développement économique.</p>
            </article>

            <article>
                <twig:Title:H3>Cadre Naturel et Vie Locale</twig:Title:H3>
                <p class="leading-loose">Avec ses forêts, ses champs et le canal Nimy-Blaton-Péronnes, Bernissart est un lieu idéal pour les balades et les activités de plein air. La commune propose également une vie locale animée par des traditions bien ancrées, comme les ducasses et les événements communautaires.</p>
            </article>
        </section>

        <!-- Conclusion avec appel à l'action -->
        <section id="cta">
            <h3>Pourquoi Nous Rejoindre ?</h3>
            <p class="leading-loose">Que vous soyez passionné de tir ou curieux de découvrir une nouvelle discipline, les Gais Carabiniers de Bernissart vous accueillent dans une ambiance conviviale et sécurisée. <strong><a href="/contact">Contactez-nous</a></strong> ou venez nous rendre visite pour en savoir plus !</p>
        </section>
    </div>
    {#
    <section class="bg-surface-light/90 dark:bg-surface-dark/40 dark:text-content-dark/70 py-4 px-4 sm:px-16 lg: py-16 lg:px-48 space-y-16">
        <h2 class="text-4xl font-headland font-extrabold text-content-secondary/70 dark:text-content-secondary-dark/70 ">L'histoire des Gais Carabiniers de Bernissart</h2>

        <p class="text-lg font-normal text-content-primary-light/50 lg:text-xl dark:text-content-primary-dark/40 !leading-loose">
            Au lendemain de la guerre, l’envie de reconstruire et de retrouver joie et optimisme était au cœur de
            toutes les initiatives. Avec la conviction qu’il n’y aurait plus de conflits, c’est dans cet esprit de
            renouveau qu’a été créé <span class="bg-content-secondary/80 text-white/80 px-1.5">Les Gais Carabiniers</span>, un club de tir empreint de convivialité et de
            passion.
        </p>

        <p class="text-lg font-normal text-content-primary-light/50 lg:text-xl dark:text-content-primary-dark/40 !leading-loose">
            Le tir à la carabine, discipline olympique par excellence, y est pratiqué avec sérieux et enthousiasme.
            Il ne s’agit pas seulement d’un sport, mais d’un véritable exercice de concentration, de dépassement de
            soi et de recherche de performance. Chaque semaine, les membres organisent un petit concours amical,
            suivi d’un classement mensuel, dans une ambiance compétitive,  bienveillante.
        </p>

        <p class="text-lg font-normal text-content-primary-light/50 lg:text-xl dark:text-content-primary-dark/40 !leading-loose">

            Hors des lignes de tir, c’est un tout autre spectacle : rires, camaraderie et échanges chaleureux
            rythment la vie du club. Que vous soyez novice ou expert, vous y trouverez un espace où passion et bonne
            humeur se mêlent pour offrir une expérience unique et enrichissante.
        </p>
    </section>
    #}

{% endblock %}

