<section class="relative bg-hero-sm md:bg-hero bg-cover bg-no-repeat">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-base-light dark:to-base-dark"></div>
    <div class="relative z-10 w-full h-[75dvh] md:h-auto md:aspect-video px-4 py-8 mx-auto lg:gap-8 lg:py-16">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 md:left-8 md:translate-x-0 mr-auto place-self-center w-4/5 md:w-3/5 lg:w-[40%] lg:mt-16 bg-white/50 dark:bg-black/40 p-4 md:p-8 rounded-md">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-content-primary-dark/80">
                Club de tir à Bernissart : Les Gais Carabiniers  </h1>
            <p class="max-w-2xl mb-6 font-light text-content-primary-light/80 lg:mb-8 md:text-lg lg:text-xl dark:text-content-primary-dark/70">
                <span class="bg-content-highlight-light/40">Les Gais Carabiniers</span> vous accueillent au cœur de Bernissart pour découvrir le tir à la carabine. Profitez de nos 7 lignes de tir et de notre expertise dans une ambiance chaleureuse, à seulement quelques minutes de Saint-Ghislain, Pommerœul et Péruwelz. </p>
            <a href="{{ path('app_contact') }}"
               class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-content-secondary hover:bg-content-secondary/80 focus:ring-4 focus:ring-content-secondary-30 dark:focus:ring-content-secondary/30 dark:text-content-primary-dark/80">
                {% trans %} button.find {% endtrans %}
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
            {#            <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"> #}
            {#                Speak to Sales #}
            {#            </a> #}
        </div>
    </div>
</section>
